// .trigger {
//   padding: 0 24px;
//   font-size: 18px;
//   line-height: 64px;
//   cursor: pointer;
//   transition: color 0.3s;
// }

// .trigger:hover {
//   color: #1890ff;
// }

// .logo {
//   height: 32px;
//   margin: 16px;
//   background: rgba(255, 255, 255, 0.3);
// }

// .home {
//   height: 100%;
// }

.breadcrumb {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.content {
  margin: 16px 16px 0;

  div {
    height: 100%;
  }
}

.footer {
  line-height: 48px;
  padding: 0 !important;
  text-align: center;
}