* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* img {
  display: inline-block;
  vertical-align: top;
} */

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
}
.main > div {
  position: relative;
}
h2 {
  text-align: center;
  font-size: 36px;
}
.content {
  position: relative;
  text-align: center;
}
.phone-wrap {
  
}
.phone-wrap img {
  height: 604px;
}
.headset {
  position: absolute;
  left: -80px;
  bottom: -30px;
}
.headset img {
  width: 60%;
}

.icon-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 100px;
}

.phone {
  width: 180px;
  margin: 0 auto;
}
.phone img {
  width: 100%;
}

.tv {
  width: 100%;
  text-align: right;
}

.tv img {
  width: 81px;
  transform: translate(-50px, -10px);
}

.pad {
  /* width: 150px; */
}
.pad img {
  width: 140px;
  transform: translate(-36px, -76px);
}

.sound {
  text-align: right;
}

.sound img {
  width: 108px;
  transform: translate(-58px, -104px);
}

.tip {
  position: absolute;
  top: 108px;
  right: 66px;
  display: flex;
  flex-direction: column;
}

.tip img {
  width: 84px;
}

.tip img + img {
  margin-top: 4px;
}

.round-wrap {
  position: absolute;
  top: 180px;
  right: 30px;
}

.video {
  position: absolute;
  top: 116px;
  left: 50%;
}
.video .video-img {
  width: 900px;
  height: 579px;
}

.video .msg {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}