:root {
  // header 高度
  --header-height: 6rem;
  // body 高度
  --content-height: calc(100vh - var(--header-height));
  // header 两侧 padding
  --header-left-right-padding: 100px;
  // body 左侧 padding
  --body-left-padding: var(--header-left-right-padding);
  // 文本颜色
  --text-color: #fff;
  // 主要颜色
  --primary-color: #1c073e;
  // 次要颜色
  --second-color: yellow;
  // Menu 宽度
  --menu-width: 300px;
}

// 当宽度小于 1200px 时
@media (max-width: 1200px) {
  // 更新 root
  :root {
    // header 两侧的 padding
    --header-left-right-padding: 30px;
  }
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
}

html, body {
  // 宽度全屏
  width: 100vw;
  // 最大宽度，防止超宽屏导致的内容过度分离
  max-width: 1600px;
  // 最小高度
  min-height: 100vh;
  // 居中显示
  margin: 0 auto;
  // 文本颜色
  color: var(--text-color);
  // 背景颜色
  background-color: var(--primary-color);
  overflow: hidden;
}

a {
  color: var(--text-color);
}

// 临时设定，方便观察
// header, .content {
//   border: 3px dashed var(--text-color);
// }

// .content {
//   border-top: none;
// }

header, .content {
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.3s;
}

header {
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--header-left-right-padding);
  transition: none;
}

.content {
  justify-content: flex-start;
  height: var(--content-height);
  padding-left: var(--body-left-padding);
}

header a.logo {
  font-size: 2rem;
  line-height: 1em;
}

header nav {
  width: 40%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  // 间距
  gap: 10%;
  font-size: 0.9rem;
}

header i {
  display: none;
  color: var(--text-color);
  font-size: 1.4rem;
  cursor: pointer;
}

header i:hover {
  color: var(--second-color);
}

.content .info {
  z-index: 1;
  h2 {
    font-size: 3rem;
    line-height: 1.2em;
    &:nth-child(3) {
      color: var(--second-color);
      &::after {
        content: '.';
        color: var(--text-color);
      }
    }
  }
  h3 {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 2rem 0;
  }
  a {
    border: 1px solid #fff;
    padding: 0.9rem 2rem;
    border-radius: 3rem;
    font-size: 0.9rem;
    transition: 0.3s;
    &:first-child {
      color: var(--primary-color);
      background: var(--text-color);
    }
    &:hover {
      color: var(--second-color);
      background: var(--primary-color);
      border-color: var(--second-color);
    }
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.background-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  background: var(--primary-color);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  z-index: 998;
  display: none;
  i {
    font-size: 1.7rem;
    position: fixed;
    right: var(--header-left-right-padding);
    top: var(--header-left-right-padding);
    cursor: pointer;
    &:hover {
      color: var(--second-color);
    }
  }
  a {
    width: var(--menu-width);
    text-align: center;
    border: 1px solid var(--text-color);
    padding: 2rem;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10rem;
    &:hover {
      color: var(--second-color);
      border-color: var(--second-color);
    }
  }
}